@charset "utf-8";
body { background: #ccc url(none); }
.l{ float:left; }
.r{ float:right; }
#top_inf{ height:30px; line-height:30px; background:#F7F7F7; border-bottom:1px solid #CCC; margin-bottom:2px; text-align:center; }
#top_inf span{ padding:0 250px; }
#top_inf span a{ padding:0 5px; }
#container{ width:1000px; background:#FFF; padding:3px; margin:0 auto; }
#banner{ width:1000px; height:160px; background:#CCC; margin-bottom:2px; }
#nav{ height:35px; line-height:35px; background:url(../images/blue1.jpg) repeat-x; margin-bottom:2px; padding-left:20px; border: 1px solid #006cb1; text-align:center; }
#nav ul li{ padding:0 15px; display:inline; }
#nav ul li a{ color:#FFF; font-size:14px; font-weight:bold; }
#maincontent{ width:1000px; overflow:hidden; }
.news{ height:260px; width:760px; border:1px solid #CCC; float:right; }
.photo{ width:350px; height:260px; float:left; text-align:center; padding:5px; }
.photo p{ padding-top:5px; }
.side{ width:230px; height:670px; background:#006cb1; float:left; }
.main{ width:770px; float:right; }
h4{ height:40px; line-height:40px; background:url(../images/zt_b1.jpg) no-repeat 0 center; text-indent:2em; text-indent:3em; font-size:14px; color:#360; padding-right:20px; border-bottom:#CCC 1px dotted; }
h4 span{ float:right; font-size:12px; font-weight:normal; }
.news_list{ width:400px; float:right; }
.news_list ul li{ height:25px; line-height:25px; background:url(../images/biao3.gif) 0 center no-repeat; text-indent:1.2em; }
.news_list ul li span{ float:right; padding-right:20px; }
h1{ height:30px; line-height:30px; font-size:14px; color:#FFF; margin:5px auto 0; background:url(../images/blue3.gif) no-repeat center center; padding:0 20px; }
h1 span{ float:right; }
h1 span a{ color:#FFF; font-size:12px; }
.side ul{ width:210px; margin:0 auto; margin-top:5px; }
.side ul li{ background:url(../images/biao1.gif) no-repeat 0 center; text-indent:1.2em; height:25px; line-height:25px; }
.side ul li a{ color:#FFF; }
.box1{ width:370px; height:200px; background:#F5F5F5; margin:5px; }
h2{ font-size:14px; height:30px; line-height:30px; background:#900; color:#FFF; padding:0 10px; margin-bottom:5px; background:url(../images/blue2.jpg) repeat-x; border: 1px solid #15526F; }
h2 span{ float:right; font-size:12px; }
h2 span a{ color:#FFF; }
.box1 ul{ margin:0 10px; }
.box1 ul li{ height:25px; line-height:25px; background:url(../images/biao3.gif) no-repeat 0 center; text-indent:1.2em; }
#footer{ height:90px; text-align:center; padding-top:20px; border-top:2px solid #006cb1; }
#footer p{ height:25px; line-height:25px; }